<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>{{ local.logIn }}</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/user/logged-in">
            <fieldset class="form-group">
              <label for="id">ID</label>
              <input 
                id="managerID" 
                type="text"
                name="managerID" 
                class="form-control" 
                placeholder="371-12345678" 
                required
              >
            </fieldset>
            <fieldset class="form-group">
              <label for="password">{{ local.password }}</label>
              <input 
                id="password"
                type="password"
                name="password"
                class="form-control"
                required
              >
            </fieldset>
            <button type="submit" class="btn btn-primary">{{ local.submit }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>