<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Sign Up</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/user/registered">
            <fieldset class="form-group">
              <label for="id">ID</label>
              <input 
                id="id" 
                type="text"
                name="id" 
                class="form-control" 
                placeholder="371-12345678" 
                required
              >
            </fieldset>
            <fieldset class="form-group">
              <label for="fullName">Full name</label>
              <input 
                id="fullName" 
                type="text"
                name="fullName" 
                class="form-control" 
                placeholder="John Clooney"
                required
              >
            </fieldset>
            <fieldset class="form-group">
              <label for="password">Password</label>
              <input 
                id="password"
                type="password"
                name="password"
                class="form-control"
                required
              >
              <small class="text-muted form-text">Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
            </fieldset>
            <fieldset class="form-group">
              <label for="password2">Confirm password</label>
              <input 
                id="password2"
                type ="password"
                name="password2" 
                class ="form-control"
                required
              >
            </fieldset>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>